{% extends 'layout.html' %}

{% block title %}
aaa
{% endblock %}

{% block main %}
<div>
    {% if random >= 70 %}
    <p>{{ random }}は70以上</p>
    {% elif random >= 50 %}
    <p>{{ random }}は50以上</p>
    {% else %}
    <p>{{ random }}は50未満</p>
    {% endif %}
</div>
<div>
    {{ flag|yesno:'OK,NG,None' }}
</div>

<div>
    <h2>week</h2>
    <div>
        {% for week in weeks %}
        <span>{{ week }}</span>
        <span>{{ forloop.counter }}</span>
        <span>{{ forloop.first }}</span>
        <span>{{ forloop.last }}</span>
        {% endfor %}
    </div>
</div>

<div>
    <h2>empty</h2>
    <div>
        {% for e in empties %}
        <p>{{ e }}</p>
        {% empty %}
        <p>データがありません</p>
        {% endfor %}
    </div>
</div>
{% endblock %}